Hey,
<br><br>

I want to verify the authenticity of the whey protein.
<br>
The details of the protein are:-<br>
Name :-  $name<br>
company :- $company<br>
Size :- $size<br>
Flavour :- $flavour<br>
PlaceOfPurchase :- $placeOfPurchase  (  $link  )<br>
LotNumber :- $lotNumber<br>
ExpirationCode :- $expirationCode<br>
BarCode :- $barCode<br>
<br><br>
I am attaching the image of the box.<br>
Please confirm the authenticity !!

<br><br>
Thanks