Hey,
<br><br>
I want to verify the authenticity of the whey protein.
The details of the protein are:-
Name :-  $name
company :- $company
Size :- $size
Flavour :- $flavour
PlaceOfPurchase :- $placeOfPurchase
LotNumber :- $lotNumber
ExpirationCode :- $expirationCode
BarCode :- $barCode
I am attaching the image of the box.
Please confirm the authenticity !!

<br><br>
Thanks
